* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: 0.25s ease;
}

.signal {
    width: 200px;
    height: 400px;
    border: 20px solid #BFBCAF;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: #2B3B47;
}

.light {
    width: 100px;
    height: 85px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s ease;
    filter: brightness(0.5);
}

.active-light {
    filter: brightness(1) !important;
}

.container-green {
    background: #009E83;
}

.green {
    border-top: 15px solid #007F67;
    background: #009E83;
}

.container-red {
    background: #fd726c;
}

.red {
    border-top: 15px solid #D32A2A;
    background: #FF473E;
}

.container-yellow {
    background: #fab959;
}

.container-inactive-yellow {
    filter: brightness(0.5) !important;
}

.yellow {
    border-top: 15px solid #E2A042;
    background: #FFB636;
}

.light:hover {
    opacity: 1;
}

#start-button {
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
    color: white;
    background: #2B3B47;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.actions {
    position: absolute;
    bottom: 0;
    background: #2B3B47;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    padding: 10px;
}

#start-button:hover, #finish-button:hover {
    color: white;
}
